<h2>Hello,</h2>
<p>My name is Jakub and I am indie game dev from Poland, Poznań. 
  Currently I am working on my own game. 
  If you would like to work together with me, feel to contact me! </p>

<h2>Game/design skills:</h2>
<ul>
  <li>Unity3D</li>
  <li>Blender</li>
  <li>Zbrush</li>
</ul>

<h2>Other:</h2>
<ul>
  <li>C#/Xamarin </li>
  <li>Python/Django</li>
  <li>JavaScript/VueJS</li>
  <li>PostgreSQL</li>
</ul>

<p>If you are interested </p>

<hr />

<!-- <ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul> -->
